{
  "name": "<%= project_name %>",
  "version": "0.0.1",
  "description": "WRITE ME",
  "dependencies": {
    "jamjs":"0.2.x" ,
    "bower":"0.7.x" ,
    "coffee-script":"1.4.x"
  },
  "jam": {
    "packageDir": "components",
    "dependencies": {
      "jquery": "1.9.x"
    }
  }
}